.main-header {
  height: 114px;
  background-color: var(--primary-color);
}

.header__title {
  cursor: pointer;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__information {
  position: relative;
  display: flex;
  align-items: center;
  gap: 34px;
  z-index: 1;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 70%;
  height: 60px;
  padding: 0 15px 0 27px;
  border-radius: 30px;
  background: var(--light-color);
}

.header__search__icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.header__search__input {
  width: 100%;
  padding: 0 10px;
  border-radius: 30px;
  border: none;
  outline: none;
}

.header__search__input::placeholder {
  color: var(--primary-color);
}

.header__user {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: var(--secondary-color);
}

.header__user__avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-information {
  position: absolute;
  display: none;
  top: 100%;
  width: 70%;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: var(--light-color);
  box-shadow: 0 0 10px var(--overlay-color);
  z-index: 1;
}

.search-information.open {
  display: block;
}

.search-content {
  padding: 15px 0;
  cursor: pointer;
}

.search-error {
  flex-direction: column;
}

.search-content:hover {
  color: var(--light-color);
  border-radius: 20px;
  background-color: var(--secondary-color);
}

.header__user {
  position: relative;
}

.header__navbar {
  position: absolute;
  top: 120%;
  right: 0;
  display: none;
  width: 220px;
  background-color: var(--light-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--overlay-color);
  overflow: hidden;
}

.navbar__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 25px;
  cursor: pointer;
}

.header__navbar.open {
  display: block;
}

.navbar__logout {
  padding-top: 20px;
  border-top: 1px solid var(--gray-color);
}

.navbar__item:hover {
  opacity: 0.7;
}
