.main-content {
  padding: 108px 48px 108px 93px;
  display: flex;
  gap: 80px;
}

.login-form {
  min-width: 365px;
  padding-top: 114px;
}

.login-form__body {
  padding-top: 24px;
}

.login-form__inputs {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.login-form__input {
  margin-top: 11px;
  padding: 6px 10px;
  border-radius: 50px;
  outline: none;
}

.login-form__input + p {
  padding-top: 10px;
  visibility: hidden;
}

.login-form__button {
  width: 100%;
  margin-top: 22px;
  padding: 8px 160px;
}

.login-form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 54px;
}

.socials {
  padding-top: 32px;
}
