.login {
  padding-top: 108px;
}

.login-form {
  padding-top: 114px;
  grid-column: 2/6;
}

.login-form__body {
  padding-top: 24px;
}

.login-form__inputs {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.login-form__input {
  margin-top: 5px;
  padding: 8px 15px;
  border-radius: 50px;
  outline: none;
}

.login-form__button {
  width: 100%;
  margin-top: 22px;
}

.login-form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 54px;
}

.login-image {
  grid-column: 7/13;
}

.login-img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.socials {
  padding-top: 32px;
  cursor: pointer;
}

.register-link {
  cursor: pointer;
}

.socials-icon:hover,
.register-link:hover {
  opacity: 0.7;
}
