.modal-detail {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 568px;
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px var(--shadow-color);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal-detail:hover {
  display: flex;
}

.modal-detail__content {
  flex-basis: 55%;
  word-break: break-all;
}

.modal-detail__close {
  position: absolute;
  top: 4%;
  right: 4%;
  opacity: 0.5;
}

.modal-detail__close:hover {
  opacity: 1;
}

.modal-detail__description {
  flex-basis: 20%;
  word-break: break-all;
}

.modal-detail__buttons {
  gap: 50px;
  height: 20%;
}

.modal-detail__button__delete {
  color: var(--dark-color);
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
}

.modal-detail__button__delete:hover {
  color: var(--light-color);
  background-color: var(--error-color);
  border: 1px solid var(--error-color);
  opacity: 1;
}

.modal-detail.open {
  display: flex;
}
