.modal-flashcards {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  width: 90%;
  padding: 40px;
  background-color: var(--light-color);
  border-radius: 16px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal-flashcards__header {
  display: flex;
  justify-content: space-between;
}

.modal-flashcards__inputs {
  padding-top: 28px;
}

.modal-flashcards__inputs {
  display: flex;
  flex-direction: column;
}

.modal-flashcards__input {
  width: 100%;
  background: transparent;
  border-bottom: 1px solid var(--primary-color);
}

.modal-flashcards__input::placeholder {
  color: var(--primary-color);
}

.modal-flashcards__close {
  opacity: 0.5;
}

.modal-flashcards__close:hover {
  opacity: 1;
}

.modal-flashcards__create {
  width: 100%;
  margin-top: 20px;
  border-radius: 16px;
}

.modal-flashcards.open {
  display: block;
}
