.modal-card {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  width: 90%;
  max-width: 1140px;
  padding: 40px;
  background-color: var(--light-color);
  border-radius: 16px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal-card__header {
  position: relative;
  display: flex;
}

.modal-card__close {
  position: absolute;
  right: 0;
  opacity: 0.5;
  cursor: pointer;
}

.modal-card__close:hover {
  opacity: 1;
}

.modal-card__return {
  min-width: 48px;
  height: 48px;
  visibility: hidden;
  cursor: pointer;
}

.modal-card__return.active {
  visibility: visible;
}

.modal-card__title {
  padding-left: 10px;
}

.modal-card__content {
  gap: 20px;
  padding-top: 28px;
}

.modal-card__inputs {
  display: flex;
  flex-direction: column;
}

.modal-card__input {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-color);
}

.modal-card__select {
  cursor: pointer;
}

.modal-card__input::placeholder {
  color: var(--primary-color);
}

.modal-card__create {
  width: 100%;
  margin-top: 20px;
  border-radius: 16px;
}

.modal-card.open {
  display: block;
}
